<div>

    <h2>Marks</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveMarkModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Mark</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveMarkModal" tabindex="-1" role="dialog" aria-labelledby="myMarkLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMarkLabel">Create or edit a Mark</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="mark.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Rating</label>
                            <input type="text" class="form-control" name="rating"
                                   ng-model="mark.rating">

                        </div>

                        <div class="form-group">
                            <label>student</label>
                            <select class="form-control" name="student" ng-model="mark.student.id" ng-options="student.id as student.name for student in students">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>course</label>
                            <select class="form-control" name="course" ng-model="mark.course.id" ng-options="course.id as course.title for course in courses">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteMarkConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(mark.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Mark?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Rating</th>
                    <th>student</th>
                    <th>course</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mark in marks">
                    <td><a ui-sref="markDetail({id:mark.id})">{{mark.id}}</a></td>
                    <td>{{mark.rating}}</td>
                    <td>{{mark.student.name}}</td>
                    <td>{{mark.course.title}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="markDetail({id:mark.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ng-click="showUpdate(mark.id)"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(mark.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
